body {
  overflow-x: hidden;
}

.text-html-color {
  color: #d15b2a; }

.text-css-color {
  color: #4a97d4; }

.text-js-color {
  color: #feda3d; }

.text-bootstrap-color {
  color: #563d7c; }

.text-php-color {
  color: #8993be; }

.text-sql-color {
  color: #006089; }

.loader {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6; }

.loader .loader-inner {
  width: 100%;
  height: 100%;
  background: url("../img/preloader.gif") center center no-repeat; }

#main-nav {
  border-bottom: 3px solid #008ed6; }

#showcase {
  position: relative; }

.showcase-content {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

#skills i {
  font-size: 10rem; }

#subscribe {
  background: url("../img/parallax1.jpg")
                  no-repeat
                  center
                  center/cover
                  fixed;
 }
  #subscribe .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#get-in-touch {
  background: url("../img/parallax2.jpg") no-repeat center center/cover fixed; }
  #get-in-touch .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#portfolio .card {
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.7) !important;
}

@media (max-width: 768px) {
  .mb-md-resp {
    margin-bottom: 1rem; }

  #showcase .name {
    font-size: 2.9rem; }
  #showcase .title {
    font-size: 2rem; }

  /* #get-in-touch .touch-form {
    width: 75% !important; } */
  .w-md-75 {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  .mb-sm-resp {
    margin-bottom: 1rem; }

  #get-in-touch .touch-form {
    width: 100% !important; }
  .w-sm-100 {
      width: 100% !important;
    }
  }
